<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        background-color: #e0eff1;
        color: #680148;
        text-align: center;
        font-family: Helvetica;
        font-weight: bold;
        padding: auto;
        font-size: 30px;
      }
      .header {
        background-color: #7db4b5;
        padding: 5%;
      }
      .header-title {
        font-size: 52px;
      }
      .content {
        margin-left: 20%;
        margin-right: 20%;
      }
      .footer {
        font-size: 20px;
        background-color: #7db4b5;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-title">Recuperação da senha de acesso</div>
      </div>
      <div class="content">
        <p>Olá {{ payload.name }}, houve uma solicitação para redefinição da senha de sua conta. Se foi você, acesse o link abaixo para
          alterá-la. O link é válido somente pelas próximas 4 horas, após isso, você terá que fazer uma nova solicitação.</p>
        <p>Link: {{ payload.url }}</p>
      </div>
      <div class="footer">
        <p>Virtual Store, 2022</p>
      </div>
    </div>
  </body>
</html>
